* {
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
}

body {
  margin: 0;
  padding: 0;

  height: 100vh;
  background: linear-gradient(to bottom right, #ff9a9e, #fad0c4);

  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background: white;
  padding: 40px;
  border-radius: 20px;

  width: 90%;
  max-width: 400px;

  text-align: center;

  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

h1 {
  margin-bottom: 10px;
}

p {
  font-size: 18px;
}

.buttons {
  margin-top: 25px;
}

button {
  font-size: 18px;
  padding: 12px 25px;
  border: none;
  border-radius: 25px;

  cursor: pointer;
  margin: 10px;

  transition: 0.2s;
}

#yesBtn {
  background: #ff4d6d;
  color: white;
}

#yesBtn:hover {
  background: #ff1f4a;
}

#noBtn {
  background: #ddd;
  color: black;
  position: relative;
}

#message {
  margin-top: 25px;
  font-size: 20px;
  color: #ff1f4a;
  font-weight: bold;
}
